@model IEnumerable<WebApi.Models.DuckViewModel>

@{
    ViewBag.Title = "DuckIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DuckIndex</h2>

<p>
    @Html.ActionLink("Create New", "CreateDuck")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DuckId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuckType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuckPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuckCountryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DuckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuckType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuckPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuckCountryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDuck", new { id = item.DuckId }) |

                @Html.ActionLink("Delete", "DeleteDuck", new { id = item.DuckId }, new { onclick = "return confirm('Are you sure?');" })
                
            </td>
        </tr>
    }
    

</table>
<div>@ViewData["error"]</div>
<p>@Html.ActionLink("Return", "Index", "Invoice", null, null)</p>