@model IEnumerable<WebApi.Models.CountryViewModel>

@{
    ViewBag.Title = "CountryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CountryIndex</h2>

<p>
    @Html.ActionLink("Create New", "CreateCountry")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCountry", new { id = item.CountryId.Trim() }) |

                @Html.ActionLink("Delete", "DeleteCountry", new { id = item.CountryId.Trim() }, new { onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }

</table>
<div>@ViewData["error"]</div>
@Html.ActionLink("Return", "Index", "Invoice", null, null)